# Ambientes Virtuais
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc

# Arquivos de IDE
.vscode/
.idea/

# Arquivos de Build e Dependências
dist/
build/
*.egg-info/

# Variáveis de Ambiente
.env
.env.*

# Arquivos de Banco de Dados (ex: SQLite)
*.db
*.sqlite3